<header class="header">
  <div class="wrapper">
    <div class="left-section">
      <a href="/" class="brand">
        <img src="assets/images/logo.png" alt="logo" />
      </a>
      <nav class="nav">
        <div class="nav-item">Store</div>
        <div class="nav-item">Products & Services</div>
        <div class="nav-item">Help & Support</div>
      </nav>
    </div>
    <div class="right-section">
      <img class="search-icon" src="assets/images/search.svg" alt="search" />
      <div class="dropdown-container">
        <div class="inline yellow-dot"></div>
        <div class="inline text">PERSONAL</div>
        <img class="inline arrow-down-icon" src="assets/images/down.svg" alt="dropdown" />
      </div>
      <div class="slider-container">
        <div class="inline text active">PERSONAL</div>
        <div class="inline text">BUSINESS</div>
      </div>
      <nav class="nav-menu">
        <img src="assets/images/menu.svg" alt="menu icon" />
      </nav>
    </div>
  </div>
</header>