<div class="wrap">

  <div class="question">
    What are you <b>here to do?</b>
  </div>

  <div class="glide multi1">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">
          <img src="assets/images/default.png" alt="image" />
          <div class="title">Get a device</div>
          <div class="start-here">
            START HERE <span>></span>
          </div>
        </li>
        <li class="glide__slide">
          <img src="assets/images/default.png" alt="image" />
          <div class="title">Add a phone-line</div>
          <div class="start-here">
            START HERE <span>></span>
          </div>
        </li>
        <li class="glide__slide">
          <img src="assets/images/default.png" alt="image" />
          <div class="title">Upgrade</div>
          <div class="start-here">
            START HERE <span>></span>
          </div>
        </li>
        <li class="glide__slide">
          <img src="assets/images/default.png" alt="image" />
          <div class="title">Mobile Internet</div>
          <div class="start-here">
            START HERE <span>></span>
          </div>
        </li>
        <li class="glide__slide">
          <img src="assets/images/default.png" alt="image" />
          <div class="title">Home Internet</div>
          <div class="start-here">
            START HERE <span>></span>
          </div>
        </li>
      </ul>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
    </div>
  </div>

</div>