<div class="wrap">

  <div class="question">
    {{question1}} <b>{{question2}}</b>
  </div>

  <div class="glide multi1">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides" *ngIf="slides">
        <li class="glide__slide" *ngFor="let slide of slides">
          <img src="{{slide.image}}" alt="image" />
          <div class="title">{{slide.title}}</div>
          <div class="start-here">
            {{slide.action}} <span>></span>
          </div>
        </li>
      </ul>
    </div>

    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">></button>
    </div>
  </div>

</div>